<!--Profile page linked from each photo and also from the navbar -->
<br />
<div class="col-md-8 col-md-offset-2 info">
  <div class="col-md-4">
    <%= image_tag @user.profile_picture, class: "user-card-pic" %>
  </div>
  <div class="col-md-8">
    <% if @user == current_user %>
      <%= link_to "Edit My Info", edit_user_registration_path, class: "center" %>
    <% end %>
  </div>
</div>
<br />
<br />
<br />
<div class="col-md-8 col-md-offset-2 grid">
  <% @user.grams.each do |gram| %>
    <div class="col-md-4 grid-pic">
      <%= image_tag gram.picture, class: 'img' %>
    </div>
  <% end %>
</div>
